@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.estado-perfil {
  font-weight: bold;
  margin: 5px;
  width: 100%;
  height: max-content;
  text-align: center;
}
.info-edu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  padding: 10px;
}
.edu-box {
  padding-top: 30px;
  padding-left: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  height: fit-content;
  min-height: 200px;
  border-radius: 20px;
}

.text-info {
  list-style-position: inside;
  padding: 5px;
}

#titles-ed {
  margin-bottom: 20px;
}
#titles-ed1 {
  margin-bottom: 20px;
}
.lista-espe-perfil {
  list-style-image: url("../img/checkList.png");
}

@media screen and (max-width: 600px) {
  .info-edu {
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .edu-box {
    margin-top: 30px;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    text-align: center;
  }
  #titles-ed1 {
    justify-content: center;
  }
  #titles-ed {
    justify-content: center;
  }
  .especialidades-perfil {
    text-align: left;
  }
}
