@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.enca2 {
  display: flex;
  flex-direction: column;
}

.schedule-user {
  margin: 8px auto;

  display: flex;
  justify-content: space-evenly;
}
.horas {
  text-align: center;
}

.schedule-container {
  margin-top: 1%;
}

.estado-perfil {
  font-weight: bold;
  margin: 5px;
  width: 100%;
  height: max-content;
  text-align: center;
}
.info-edu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  padding: 10px;
}
.edu-box {
  padding-top: 30px;
  padding-left: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  height: fit-content;
  min-height: 200px;
  border-radius: 20px;
}

.review-card,
.all-comments {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;
  height: fit-content;
  width: 100%;
}

.review-input {
  width: 50%;
  resize: vertical;
  min-height: 2em;
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  font-family: Open Sans;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  padding-left: 5px;
}

.rating-input {
  width: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Open Sans;
  border-color: transparent;
  text-align: center;
}

.box-comm {
  display: flex;
  align-items: center;
}

.review-card .line {
  margin-bottom: 15px;
}

.enviar-button {
  font-size: 0.8em;
  cursor: pointer;
  padding: 0.8em 2.5em;
  background-color: #ee9d6bde;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  text-align: center;
  display: inline-block;
}

.cita-button{
  font-size: 0.8em;
  cursor: pointer;
  padding: 0.8em 2.5em;
  background-color: #ee9d6bde;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 3.5em;
  text-align: center;
  display: inline-block;
  width: 15em;
}

.nombre-user2 {
  text-transform: capitalize;
  margin-left: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
}

.grupo-comentario {
  width: 100%;
  padding: 20px;
}

.text-info,
.text-comment {
  list-style-position: inside;
  padding: 5px;
}

.text-comment p {
  text-indent: 5px;
}

.review-card .titles,
.all-comments .titles {
  width: 100%;
  height: fit-content;
}

#titles-ed {
  margin-bottom: 20px;
}
#titles-ed1 {
  margin-bottom: 20px;
}
.lista-espe-perfil {
  list-style-image: url("../img/checkList.png");
}

.commenter {
  font-size: large;
  font-weight: bold;
  width: 100%;
  height: fit-content;
}

.star {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: gold;
}

.sub .stars-container {
  font-size: 1.5em;
}

.caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.caja-review {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.caja-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caja .stars-container,
.comment .stars-container {
  font-size: 1.5em;
}

.ranking-user {
  display: flex;
  justify-content: flex-start;
  margin: 8px auto;
}

.container1 {
  margin: 16px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
  background-color: white;
}

.contenedorDias{
  padding: 1em;
  margin: 5px;
}

.user {
  margin: 8px auto;
  display: flex;
  justify-content: space-evenly;
}

.week {
  text-align: center;
  color: #ee9d6b;
  margin-bottom: 10%;
  font-weight: bold;
}

.horas {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .ranking-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .nombre-user2{
    font-size: 27px;
    margin-left: -2px;
    margin-bottom: -20px;
  }
}

@media screen and (max-width: 600px) {
  .info-edu {
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .edu-box {
    margin-top: 30px;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  .especialidades-perfil {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .caja {
    flex-direction: column;
  }
  .review-input {
    width: 100%;
  }

  .caja-review {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .caja-review {
    flex-direction: column;
  }
  .caja-rating {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 380px) {
  .caja-rating {
    flex-direction: column;
  }

  .all-comments {
    padding: 10px;
  }

  .grupo-comentario {
    padding: 5px;
  }
}
