.main {
  margin-top: 65px;
  width: 100%;
  height: 100%;
}

.first-sect {
  height: 600px;
  width: 100%;
  padding: 0 50px;
  background-image: url(../../img/Fondo\ Banner\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.left-columna {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pers-group {
  width: 100%;
  height: 300px;
  background-image: url(../../img/Grupo\ Personas.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.slogan {
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.right-columna {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registra-button {
  cursor: pointer;
  padding: 15px 30px;
  background-color: white;
  border-radius: 10px;
  color: #ee9d6bde;
}

.bottom-button {
  cursor: pointer;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  background-color: #ee9d6b;
  width: fit-content;
  min-width: 50px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.registra-link {
  text-decoration: none;
}

.second-sect {
  height: 450px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.how-works {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

.steps {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
.step {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.num-cont {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.number {
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background: #ee9d6b;
}
.number p {
  color: white;
  position: relative;
  top: 18px;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

.third-sect {
  height: 450px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(white, #ee9d6b);
}

.icon {
  margin-top: 50px;
  height: 100px;
  width: 100px;
  background-size: contain;
  margin-bottom: 30px;
}
.one {
  background-image: url("../../img/depresion");
}
.two {
  background-image: url("../../img/amor");
}
.three {
  background-image: url("../../img/genero");
}
.four {
  background-image: url("../../img/estres");
}
.services {
  margin-bottom: 50px;
}

.emotion {
  font-weight: bold;
}
.especialistas-sect {
  height: max-content;
}

.testimony-sect {
  height: fit-content; 

}

.testimony-container {
  margin-top: 50px;
  width: 100%;
  height:fit-content;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}


.testimony {
  font-size: large;
  font-stretch: wider;
  font-style: italic;
  line-height: 180%;
  text-align: center;
  color: white;
}

.test-author {
  float:right;
  font-weight: bolder;
  margin-right: 30px;
  font-size: large;
  text-align: center;
}

.test-author span {
  font-weight: normal;
  font-size: 15px;
  float: right;
  text-align: center;
}

.speech-bubble {
	position: relative;
	background:#ee9d6b;
	border-radius: 1em;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  padding: 20px;
  height: max-content;
}

.testim-title {
  text-align: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color:#ee9d6b;
	border-bottom: 0;
	border-right: 0;
	margin-left: -6.5px;
	margin-bottom: -13px;
}

@media screen and (max-width: 850px) {
  .testimony-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .first-sect {
    flex-direction: column;
    padding: 10px 0;
  }
  .slogan {
    font-size: 1.5rem;
  }
  .registra-link .registra-button {
    position: relative;
  }
  .pers-group {
    display: none;
  }
  .left-columna {
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .right-columna {
    height: 70%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../../img/Grupo\ Personas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .second-sect {
    height: max-content;
  }
  .third-sect {
    height: max-content;
  }
  .steps {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 370px) {
  .testimony-sect {
    padding-left: 0;
    padding-right: 0;
  }
  .testim-title {
    padding: 0px 30px 0px 30px;
    width: 100%;
  }
}