@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.sect {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}

.TitleRegister {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  text-align: center;
  color: #ee9d6b;
  padding-bottom: 0.5em;
}

.caja {
  margin: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.cajita{
  margin: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  padding-top: 15px;
  background-color: white;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

.container1 {
  margin: 16px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
  background-color: white;
}


.caja2 {
  margin: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
  margin-left: 50px;
  display: flex;
  width: 400px;
  position: relative;
  text-align: center;
  background-color: white;
}

.ayuda{
  margin: 16px;
  border-radius: 20px;
  height: 0px;
  display: flex;
  width: 400px;
  position: relative;
  text-align: center;
  margin-top: -40px;
  background-color: white;
}

.citasbox{
  overflow-y: scroll;
  height: 150px;
}

.caja3 {
  position: relative;
  margin:0px auto;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: -20px;
  margin-left: 10px;
  background-color: white;
}

.caja4 {
  margin: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  background-color: white;
}
.pago{
  margin: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 20px;
  padding: 10px;
  margin-top: 100px;
  display: inline-flex;
}
.pago > div {
  width: 50%;
}
.pago2{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
  background-color: white;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.contenedor{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.contenedor2{
  background-color: white;
  margin-right: 5px;
  width: 400px;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedor3{
  background-color: white;
  width: 300px;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.main{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.contenedorDias{
  padding: 1em;
  margin: 5px;
}
.dia,
.mot {
  border-radius: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  width: max-content;
}

.btn {
  border-radius: 20px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.reserva {
  font-size: 1em;
  cursor: pointer;
  padding: 0.8em 2.5em;
  background-color: #ee9d6bde;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 10px;
}

.encabezado {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.calendar {
  background-image: url("../../img/calendario.png");
  width: 39px;
  height: 39px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-right: 20px;
  margin-top: 11px;
}
.type {
  background: url("https://api.iconify.design/eos-icons/typing.svg?color=%23ff9a62");
  width: 39px;
  height: 39px;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-right: 20px;
  margin-top: 11px;
}
.box {
  display: flex;
  align-items: center;
}

.subtit {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  color: #ee9d6b;
  padding-bottom: 0.2em;
}
.subtit2 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: #ee9d6b;
  padding-bottom: 0.5em;
}
.subtit3 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  padding-bottom: 0.5em;
}
.cita{
  font-weight: bold;
}

.linea {
  border: 1px solid #ee9d6b;
  background-color: #ee9d6b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input {
  font-style: italic;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 1em;
  border-radius: 5px;
  margin-top: 5px;
  width: 20em;
  height: 2.75em;
  border-width: 0.01em;
  border-color: rgba(0, 0, 0, 0.185);
}

.cont {
  margin-top: 1%;
}

.horas {
  text-align: center;
  font-weight: bold;
}

.user {
  margin: 8px auto;
  display: flex;
  justify-content: space-evenly;
}

.week {
  text-align: center;
  color: #ee9d6b;
  margin-bottom: 10%;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .input {
    font-style: italic;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 1em;
    border-radius: 5px;
    margin-top: 5px;
    width: 22em;
    height: 2.75em;
    border-width: 0.01em;
    border-color: rgba(0, 0, 0, 0.185);
  }
  .caja4, .container1 {
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pago{
    display: inline-block;
    column-count:1;
    justify-content: center;
  }

  .contenedor2, .contenedor{
    margin-left: 120px;
    background-color: white;
  }

  .pago2, .contenedor3{
    margin-top: 10px;
  }

  .subtit3{
    font-size: 1rem;
  }

  .contenedor{
    margin-top: 20px;
  }


  .container1{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  }
  
  
}

@media screen and (max-width: 600px) {
  .input {
    font-style: italic;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 1em;
    border-radius: 5px;
    margin-top: 5px;
    width: 14em;
    height: 2.75em;
    border-width: 0.01em;
    border-color: rgba(0, 0, 0, 0.185);
  }
  .caja4, .pago{
    grid-template-columns: 1fr;
  }
}

