.chatSect {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.contact {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  text-align: center;
  color: #ee9d6b;
  padding-bottom: 0.5em;
}

.nameDateCont {
  display: flex;
  align-items: center;
}

.date {
  font-weight: lighter;
}
.line {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
    0 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  position: relative;
  text-align: center;
  border-top: 2px solid #ee9d6b;
  padding-bottom: 0px;
}
.barraInput {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: white;
  bottom: 0;
}
.encabezado {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.messages {
  margin-left: 15%;
  width: 70%;
}

.textInput {
  width: 60%;
  height: 40px;
  border: 2px solid #ee9d6b;
  border-right: none;
  border-left: none;
  padding: 0 10px;
}
.button {
  width: 5%;
  height: 40px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  border: 2px solid #ee9d6b;
  padding: 5px;
  border-left: none;
  font-weight: bold;
  background-image: url("../../img/send-icon.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.addmargin {
  height: 40px;
  border: 2px solid #ee9d6b;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 10px;
  margin-left: 15%;
  width: 65%;
}
.meetButton {
  margin-left: 15%;
  width: 5%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  border: 2px solid #ee9d6b;
  padding: 5px;

  border-right: none;
  background-image: url("../../img/meet.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.button:hover {
  background-color: #ee9d6b;
  background-image: url("../../img/send-icon-hover.png");
  color: white;
  cursor: pointer;
}
.meetButton:hover {
  background-color: #ee9d6b;
  color: white;
  cursor: pointer;
  background-image: url("../../img/meet-hover.png");
}
.messagesContainer {
  width: 100%;
  /* padding-bottom: 20px; */
}
.messagesContainer ul {
  list-style: none;
}

.messageContainer {
  display: flex;
  height: max-content;
  margin-bottom: 20px;
  width: 100%;
}
.profilePhoto {
  border-radius: 50%;
}
.nameDate {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 100%;
}
.nameDate span {
  margin-left: 10px;
  color: darkgray;
}
.text {
  margin-left: 10px;
  margin-top: 5px;
  height: max-content;
}
.text p {
  word-break: break-all;
}

.messageName {
  font-weight: bold;
}
.meetContainer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.link {
  width: max-content;
  height: max-content;
  background-color: #ee9d6b;
  padding: 15px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.chats {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.chats:first-child .chat {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.chats:last-child .chat {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chat {
  height: max-content;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.chat:hover {
  background-color: rgb(240, 240, 240);
}

.namep {
  font-size: 1.5em;
  margin-left: 20px;
}
.line2 {
  width: 80%;
  position: relative;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.19);
  padding-bottom: 0px;
}
.chatsSect {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.barraInput p {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 1.2em;
}
.stop {
  height: 1px;
  width: 100%;
  margin-bottom: 80px;
}
.space {
  height: 50px;
}

@media screen and (max-width: 850px) {
  .chats {
    width: 80%;
  }
  .textInput {
    width: 70%;
  }
  .meetButton {
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .link {
    width: 100%;
    word-break: break-all;
    border-radius: 5px;
  }
  .meetContainer {
    margin-bottom: 30px;
  }
  .messages {
    padding: 0 20px;
    /* margin-bottom: 100px; */
    margin-left: 0;
    width: 100%;
  }
  .button {
    height: 40px;
    width: 10%;
  }
  .meetButton {
    height: 40px;
    width: 10%;
    margin-left: 5%;
  }
  .textInput {
    width: 70%;
  }
  .chats {
    width: 90%;
  }
  .chat {
    padding: 10px;
  }
  .addmargin {
    width: 80%;
    margin-left: 5%;
  }
  .barraInput p {
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
  }
}
