@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.registrate-con {
  display: none;
}

.left-col {
  width: 50%;
  height: 100%;
  margin-top: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.right-col {
  width: 50%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitleRegister {
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  text-align: center;
  color: #ee9d6b;
  padding-bottom: 0.5em;
}

.main-RegistroUser {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}

.registro-button {
  position: relative;
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  padding: 0.8em 2.5em;
  background-color: #ee9d6bde;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 10px;
  margin: 30px 0;

  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
    0 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.19);
}

.registro-button::content button:active,
button:focus {
  color: #000;
}

.password-button-reg {
  font-size: 16px;
  cursor: pointer;
  padding: 0.8em 2.5em;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  margin-top: -15px;
  text-align: center;
  display: inline-block;
  margin-left: 80px;
}

.ocultar-reg {
  background-image: url("../../img/ojo_abierto.png");
  background-color: transparent;
  width: 28px;
  height: 28px;
  background-size: contain;
  cursor: pointer;
}

.mostrar-reg {
  background-image: url("../../img/ojo_cerrado.png");
  background-color: transparent;
  width: 25px;
  height: 28px;
  background-size: contain;
  cursor: pointer;
}

.all-form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.formulario-input {
  background: rgba(238, 157, 107, 0.06);
  border: 0.0625rem solid #ee9d6b;
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  width: 300px;
  height: 35px;
  font-size: 1em;
  padding-left: 0.8em;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
}

.flexbox-container {
  display: flex;
  padding: 0 50px;
}

.titulos {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linea {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
    0 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  position: relative;
  text-align: center;
  border-top: 2px solid #ee9d6b;
  padding-bottom: 0px;
}

.subtitulos {
  font-weight: bold;
  font-size: 0.9375rem;
  text-align: center;
  color: #000000;
  padding-left: 0.5em;
}

.check {
  margin-top: 1em;
  text-align: center;
}
.inicio-sesion-1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rrss-box {
  width: 384px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
    0 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.img1 {
  margin-top: 13%;
}

.sep {
  border: none;
  width: 272px;
  margin-top: 16px;
  background-color: #ebad86;
  border-top: 0.03125rem solid #ebad86;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
    0 0.1875rem 0.625rem 0 rgba(0, 0, 0, 0.19);
}

.buttonsRS {
  display: flex;
  background-color: white;
  border: 0;
  color: #ee9d6b;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}

.image1log {
  width: 33.6px;
  height: 32px;
  background-image: url(../../img/google.png);
}
.image2log {
  width: 31px;
  height: 32px;
  background-image: url(../../img/facebook.png);
}
.image3log {
  width: 33px;
  height: 32px;
  background-image: url(../../img/twitter.png);
}
.textito {
  color: #ee9d6b;
  margin-left: 16px;
  margin-top: 8px;
}

.registro-2 {
  margin-bottom: 10px;
  margin-top: 5px;
}
@media screen and (max-width: 850px) {
  .flexbox-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .left-col {
    width: 100%;
  }
  .right-col {
    width: 100%;
  }
  .rrss-box {
    margin-left: 0;
  }
  .img1 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .buttons {
    width: 100%;
    flex-direction: row;
  }

  .rrss-box {
    width: 100%;
    margin-left: 0;
    height: max-content;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 0px;
  }
  .textito {
    display: none;
  }
  .sep {
    height: 3em;
    margin-top: 0;
    width: 1px;
  }
  .lastLine {
    display: none;
  }
  .buttonsRS {
    height: 50px;
    background-color: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
  }
  #pantalla-regis {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    padding: 30px 10px;
  }

  .flexbox-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .left-col {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex: 0;
    flex-wrap: nowrap;
  }
  .all-form {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .formulario-input {
    display: unset;
    width: 100%;
    height: 35px;
  }

  .right-col {
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 0;
  }
  .dist {
    width: 33%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .registro-button {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .registrate-con {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .datos-titulo {
    margin-bottom: 10px;
  }
  .TitleRegister {
    font-size: 2rem;
  }
  .inicio-sesion-1 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-left: 20px;
  }
  .registro-button {
    margin-right: 20px;
  }
}
