.admin {
    margin-top: 65px;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.introAdmin {
    font-style: italic;
    font-size: large;
}

hr {
    border: 1px solid #EE9D6B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2.75em 0;
}

.altText {
    font-style: bolder;
    font-size: larger;
    color:rgba(0, 0, 0, 0.5);
}

.especialistaList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em; 
}

@media only screen and (max-width: 1400px) {
    .especialistaList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .especialistaList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .introAdmin {
        text-align: center;
    }
    .especialistaList {
        grid-template-columns: 1fr;
    }
}