.adminNav {
  padding: 10px 2em;
  position: fixed;
  top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #00000057;
  display: flex;
  z-index: 100;
  background-color: #ee9d6b;
  justify-content: space-between;
}

.adminNavLogo {
  filter: sepia();
  width: 100%;
  height: 100%;
  background-image: url(/src/components/img/Logo\ y\ Nombre.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.adminLogOut-wrapper {
  width: 60%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
}

.adminLogOut {
  background: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: none;
  border-radius: 10px;
  color: #ee9d6b;
  font-size: large;
  font-style: bold;
  filter: brightness(1);
}

.adminNav .menu-options {
  justify-content: flex-end;
}

.adminLogOut:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

.sintomas-lista {
  list-style-image: url("../../img/checkList.png");
  padding-left: 30px;
  display: none;
}

.sintomas-lista li {
  margin-bottom: 8px;
}

.sintomas-container label:before {
  content:"\025b8"; 
  margin-right:4px;
}

#sintomas-desplegable {
  position: absolute;
	left: -1000em;
}

#sintomas-desplegable:checked ~ label:before { 
  content:"\025be";
}

#sintomas-desplegable:checked ~ .sintomas-lista { 
  display: block;
}

#sintomas-label {
  cursor:pointer;
  font-size: large;
  margin-bottom: 30px;
}

.symptomInputs label, .especialidades label {
  font-weight: normal;
  margin-right: 10px;
}

.symptomInputs button {
  color: white;
}

.symptomInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.containerEspecialistasAdmin {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.admin {
  margin-top: 65px;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.introAdmin {
  font-style: italic;
  font-size: large;
}

hr {
  border: 1px solid #ee9d6b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2.75em 0;
}

.altText {
  font-size: larger;
  color: rgba(0, 0, 0, 0.5);
}

.especialistaList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.refreshLink {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
}

.refreshLink:hover {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 1400px) {
  .especialistaList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .especialistaList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .introAdmin {
    text-align: center;
  }
  .especialistaList {
    grid-template-columns: 1fr;
  }
  .adminNavLogo {
    width: 400px;
  }
}

@media only screen and (max-width: 380px) {
  .adminNavLogo {
    background-image: url(/src/components/img/logo-chiqui.jpg);
  }

  #sintomas-label {
    font-size: medium;
  }

}

@media screen and (max-width: 910px) {
  .symptomInputs {
    flex-direction: column;
  }

  .symptomInputs div {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 555px) {
  #sintomas-label::after {
    content: " disponibles en la plataforma";
  }
}