.consulta-section {
    margin-top: 65px;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url("../../img/Plants.png"), url("../../img/Top-Leaves.png");
    background-position: bottom left, top right;
    background-repeat: no-repeat;
    background-size: 25%, 25%;
}
.calendario-citas{
    font-style: italic;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 1em;
    border-radius: 5px;
    margin-top: 5px;
    width: 20em;
    height: 2.75em;
    border-width: 0.01em;
    border-color: rgba(0, 0, 0, 0.185);
}
.consultas-container {
    width: 80%;
    height: fit-content;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background-color: white;
    margin:auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.consultas-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ee9d6b;
    border-radius: 1em 1em 0 0;
}
.consultas-header .info-consultas {
    color: white;
    font-style: italic;
}
.consulta {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
}
.consulta:last-child {
    border-radius: 0 0 1em 1em;
}
.info-consultas {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-consultas span {
    word-wrap: break-word;
    width: 100%;
}
.cons-pasada .info-consultas span {
    color:rgba(0, 0, 0, 0.5);
}
.date-info {
    width: 15%;
    height: 80%;
}
.hour-info {
    width: 15%;
    height: 80%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.name-info {
    width: 30%;
    height: 80%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.reason-info {
    width: 40%;
    height: 100%;
    line-height: normal;
}
.consulta .reason-info {
    display: block;
    padding-top: 10px;
    padding-left: none;
}
.consulta .reason-info div {
    height: 80%;
    overflow-y: scroll;
    overflow: overlay;
}

.filterCitas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.filterCitas label {
    text-align: center;
}

.searchInputsCitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.byNameInputsCitas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cons-pasada {
    background-color: rgba(220, 220, 220, 0.479);
}

@media screen and (max-width: 1440px) {
    .busqueda-citas {
        display: flex;
        flex-direction: column;
    }

    .buscar-button-sect, .searchRanking{
        margin-top: 15px;
    }
}

@media screen and (max-width: 850px) {
    .filterCitas {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        
        margin-bottom: 10px;
    }
    .searchInputsCitas {
        width: 90%
    }
    .byNameInputsCitas {
        width: 100%;
        margin-bottom: 10px;
    }
    .calendario-citas {
        align-self: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .byNameInputsCitas {
        width: 100%
    }
    .byNameInputsCitas .inputsForm {
        width: 100%;
    }
    .consulta-section .search-box {
        margin-top: none;
    }
    .consulta-section {
        background-size: 40%, 40%;
    }
}

@media screen and (max-width: 650px) {
    .consulta-section {
        padding: 10px;
    }
    .consultas-container {
        width: 98%;
    }
}

@media screen and (max-width: 500px) {
    .info-consultas span {
        font-size: small;
    }
    .consultas-header {
        font-size: small;
    }
    .consulta-section {
        background-size: 60%, 60%;
    }
}